.syntax-hight-wrapper {
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  background-color: #f6f8fa !important;

  * {
    background-color: #f6f8fa;
    font-size: 95% !important;
  }
}

.markdown-title {
  text-align: center;
  font-size: xx-large;
  font-weight: bolder;
}

.markdown-img-wrapper {
  text-align: center;
  > figcaption {
    font-size: small;
    color: grey;
    margin-block: 1em;

    &::before {
      content: "•"; /* 使用 Unicode 字符表示小圆点 */
      margin-right: 8px; /* 调整圆点和文字之间的间距 */
      color: grey; /* 设置圆点的颜色 */
    }
  }
}

.markdown-pre {
  overflow: auto;
  max-height: 66.6vh;
  /** 宽度等于容器*/
  width: 100%;
  /* max-width: calc(1280px * 0.6); */
  position: relative;
}

.markdown-blockquote {
  border-left: 10px solid #ccc;
  border-radius: 5px;
  padding: 1rem 1.5rem;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 1.5rem;
}

@media (prefers-color-scheme: light) {
  .markdown-blockquote {
    background-color: #f9f9f9;
  }
}

@media (prefers-color-scheme: dark) {
  .markdown-blockquote {
    background-color: #212121;
  }
}
